<div id="article_^article_id^" class="article" article-index="^article_index^">
        <h1>^article_headline^</h1>
        <h4 style="^article_subheading_display^">^article_subheading^</h4>
        <div class="article_body">
            <div class="timestamp" style="^article_timestamp_display^"><i class="fa fa-calendar"></i> ^article_timestamp^</div>
            <div class="comments"><i class="fa fa-comments"></i>
                <span class="disqus-comment-count" data-disqus-identifier="^article_id^">0 Comments</span></div>
            ^article_layout^
        </div>
        <div class="spacer"></div>
</div>

