<div id="article_^article_id^" class="article" article-index="^article_index^">
        <h1>^article_headline_nolink^</h1>
        <h4 style="^article_subheading_display^">^article_subheading^</h4>
        <div class="article_body">
            <div class="timestamp" style="^article_timestamp_display^"><i class="fa fa-calendar"></i> ^article_timestamp^</div>
            ^article_layout^
        </div>

        <div class="article_topics">Tags: ^topics^</div>

        ^tmp_elements=author^
        <!-- Uncomment to render Disqus comment counts, once Disqus plugin is configured
        ^tmp_disqus_comments^
        -->

        <div class="spacer"></div>
</div>