<div class="author">
  <img class="profile" src="^author_photo^" style="^author_photo_display^"/>
  <div class="social-links">
    <div class="name">^author_name^</div>
    <div class="author-title">^author_position^</div>
    <a href="^author_stackoverflow_url^" class="stack-overflow"><i class="fa fa-stack-overflow"></i></a>
    <a href="^author_linkedin_url^" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="^author_github_url^" class="github"><i class="fa fa-github"></i></a>
  </div>
  <div style="clear: both;"></div>
</div>