<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        ^tmp_includes^

        <meta name="keywords" content="^meta_keywords^" />
        <meta name="description" content="^meta_desc^" />
        <meta property="og:locale" content="en-us"/>
        <meta property="og:title" content="^meta_title^"/>
        <meta property="og:description" content="^meta_desc^"/>
        <meta property="og:url" content="^site_root^^current_url^"/>
        <meta property="og:image" content="^meta_thumbnail^">
        <meta property="og:site_name" content="^site_name^"/>
        <meta property="og:type" content="^meta_type^"/>

    </head>
    <body>
        <div id="wrap">
